<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h4 class="page-header">
				Tabelas / <a href="#"> Gerenciar </a>
			</h4>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>

<md-content class="md-padding">
  <md-nav-bar md-selected-nav-item="substation" nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-sref="app.tabela.gerenciar.substation" name="substation">
      Sub-estação
    </md-nav-item>
    <md-nav-item md-nav-sref="app.tabela.gerenciar.installationStatus" name="installationStatus">
      Status da Instalação
    </md-nav-item>
    <md-nav-item md-nav-sref="app.tabela.gerenciar.equipmentCategory" name="equipmentCategory">
      Categoria do Equipamento
    </md-nav-item>
    <md-nav-item md-nav-sref="app.tabela.gerenciar.installationType" name="installationType">
      Tipo de Instalação
    </md-nav-item>
    <md-nav-item md-nav-sref="app.tabela.gerenciar.useType" name="useType">
      Tipo de Uso (Histórico de Uso)
    </md-nav-item>
  </md-nav-bar>

  <md-content class="md-padding">
    <ui-view></ui-view>
  </md-content>

</md-content>