<md-card>
<!-- INICIO DA SEÇÃO PARA A LISTAGEM DE TODOS OS EQUIPAMENTOS -->
	<md-card-content>
		<div class="row">
			<div class="col-lg-12">
				<input style="width:300px" type="search" ng-model="search" placeholder="Busca por categorias">
			</div>
		</div>

		<div class="row">
			<table id="lista-categorias" class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Categoria</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ObjCategory in categories | filter:search">
						<td>{{ObjCategory.id}}</td>
						<td>{{ObjCategory.name}}</td>
						<td>
							<button class="btn btn-warning btn-small" ng-click="editCategory($index)">
								<md-icon md-svg-icon="images/icons/edit.svg"></md-icon> EDITAR
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</md-card-content>
<!-- FIM DA SEÇÃO PARA A LISTAGEM DE TODOS OS EQUIPAMENTOS -->
    
	<!-- INICIO DA SEÇÃO PARA A ALTERAÇÃO DOS DADOS DO EQUIPAMENTO -->
	<md-card-content>
		<form class="row form-inline" name="validarValoresPreenchidos">
			<div class="row">
				<div class="col-lg-4">
					<md-input-container>
						<label>Categoria</label>
						<input name="category" ng-model="category.name">
					</md-input-container>
				</div>
			</div>
	<!-- FIM DA SEÇÃO PARA A ALTERAÇÃO DOS DADOS DO EQUIPAMENTO -->

			<button class="btn btn-success" ng-disabled="validarValoresPreenchidos.$invalid" ng-click="updateCategory(category)">
				<md-icon md-svg-icon="images/icons/check.svg"></md-icon> SALVAR
			</button>
			<button class="btn btn-danger btn-small" ng-disabled="validarValoresPreenchidos.$invalid" ng-click="deleteCategory(category.id)">
				<md-icon md-svg-icon="images/icons/delete.svg"></md-icon> DELETAR
			</button>
<!-- FIM DA SEÇÃO PARA A ALTERAÇÃO DOS DADOS DO EQUIPAMENTO -->
		</form>
	</md-card-content>
</md-card>