<md-card>
<!-- INICIO DA SEÇÃO PARA A LISTAGEM DE TODOS OS EQUIPAMENTOS -->
	<md-card-content>
		<div class="row">
			<div class="col-lg-12">
				<input style="width:300px" type="search" ng-model="search" placeholder="Busca por tipo de uso">
			</div>
		</div>

		<div class="row">
			<table id="lista-useType" class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Tipo</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ObjUseType in useTypes | filter:search">
						<td>{{ObjUseType.id}}</td>
						<td>{{ObjUseType.type}}</td>
						<td>
							<button class="btn btn-warning btn-small" ng-click="editUseType($index)">
								<md-icon md-svg-icon="images/icons/edit.svg"></md-icon> EDITAR
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</md-card-content>
<!-- FIM DA SEÇÃO PARA A LISTAGEM DE TODOS OS EQUIPAMENTOS -->
    
	<!-- INICIO DA SEÇÃO PARA A ALTERAÇÃO DOS DADOS DO EQUIPAMENTO -->
	<md-card-content>
		<form class="row form-inline" name="validarValoresPreenchidos">
			<div class="row">
				<div class="col-lg-4">
					<md-input-container>
						<label>Tipo</label>
						<input name="type" ng-model="useType.type">
					</md-input-container>
				</div>
			</div>
	<!-- FIM DA SEÇÃO PARA A ALTERAÇÃO DOS DADOS DO EQUIPAMENTO -->

			<button class="btn btn-success" ng-disabled="validarValoresPreenchidos.$invalid" ng-click="updateUseType(useType)">
				<md-icon md-svg-icon="images/icons/check.svg"></md-icon> SALVAR
			</button>
			<button class="btn btn-danger btn-small" ng-disabled="validarValoresPreenchidos.$invalid" ng-click="deleteUseType(useType.id)">
				<md-icon md-svg-icon="images/icons/delete.svg"></md-icon> DELETAR
			</button>
<!-- FIM DA SEÇÃO PARA A ALTERAÇÃO DOS DADOS DO EQUIPAMENTO -->
		</form>
	</md-card-content>
</md-card>